# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local
.env.production
.env.development

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# WP Uploaded images
wordpress/wp-content/uploads/