# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local
.env.production
.env.development

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Editor
.vscode/

# Database storage (Docker volume directory) 
/db_data/
/mysql_data/

# WP Uploads
/wordpress/wp-content/uploads/
!/wordpress/wp-content/uploads/.gitkeep

# WP Languages
/wordpress/wp-content/languages/

# WP Plugins
/wordpress/wp-content/plugins/*
!/wordpress/wp-content/plugins/.gitkeep
